{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the home page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia sollicitudin congue. Praesent dignissim est eget elementum posuere. Maecenas eu turpis sed felis aliquam facilisis a eu quam. Vestibulum finibus semper luctus. Vestibulum euismod, arcu ac placerat malesuada, lectus est dictum leo, sit amet condimentum lectus leo a lacus. Donec ac dictum dolor, accumsan lobortis dui. Cras rhoncus vehicula magna, sit amet rhoncus nibh vestibulum eu. Donec vitae justo vitae risus porttitor bibendum. Nulla efficitur sem ipsum, nec mattis lorem cursus non. Sed libero sapien, malesuada vitae rhoncus quis, dictum cursus justo. Aenean neque diam, ultrices vestibulum libero vel, dictum laoreet ipsum. Fusce eros dui, iaculis sed nunc quis, varius pharetra ex.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris pretium erat vitae enim blandit sodales. Curabitur elementum tristique justo, eu laoreet mauris finibus non. Proin ac fringilla erat. Praesent ornare tristique dui. Nulla facilisi. Morbi porta sodales libero, sed dapibus dolor pharetra sit amet. Nunc cursus vel nunc ut maximus.

In a posuere metus, a consectetur risus. Duis ultricies diam sed elementum ornare. Phasellus efficitur suscipit tellus eu pharetra. Sed eros erat, rhoncus ac vehicula a, feugiat et mi. Maecenas sodales dolor eget elit consectetur, nec cursus velit vulputate. Mauris convallis turpis eget nulla dictum, nec hendrerit leo commodo. Aenean porta at lectus ac rutrum. In sollicitudin viverra arcu, sed tristique sem auctor molestie. Suspendisse eu est nec dui blandit viverra. Integer convallis, diam ac vestibulum fermentum, dui nunc vestibulum mi, rhoncus hendrerit.</p>
        </div>
    </div>
</div>
{{end}}